{% extends 'users/base.html' %}
{% load mathfilters %}
{% load static %}
{% block body %}
<div class="flex mt-5 pt-10 justify-center">
  <h2 class="text-3xl font-normal mb-2 text-gray-500">My Feed</h2>
</div>
<div class="grid mx-60 p-10 grid-cols-1">
  {% for post in posts %}
  <!--Card starts here-->
  <a href="#">

    <div class="rounded overflow-hidden w-[470px] h-[470px] bg-white shadow-lg">
      <div class="user-container flex mx-5 my-5">
        <img class="rounded-full w-14 h-10" src="{{post.user.profile.photo.url}}" alt="">
        <div class=" mx-2 my-2 text-gray-700 font-bold">
          <span class="text-indigo-500">
            {{post.user}}
          </span>
        </div>
      </div>
      <img src="{{post.image.url}}" alt="">
    </div>
    <div class="px-6 py-4">
      <div class="icon-container flex gap-5">
        <a id="{{ post.id }}" class="btn-like">
          {% if logged_user in post.liked_by.all %}
          <img class="w-8 h-8" src="{% static 'users/images/red_like.png' %}" alt="like">
          {% else %}
          <img class="w-8 h-8" src="{% static 'users/images/white_like.png' %}" alt="like">
          {% endif %}
        </a>

        <a class="btn-comment" data-post-id="{{ post.id }}" href="">
          <img class="w-8 h-8" src="{% static 'users/images/comment.png' %}" alt="comment">
        </a>


        <img class="w-8 h-8" src="{% static 'users/images/share.png' %}" alt="share">
      </div>
    </div>
    <div>
      {% if post.liked_by.count < 1 %} <!-- No likes -->
        {% elif post.liked_by.count == 1 %}
        <!-- One like -->
        {{ post.liked_by.first }} Likes this
        {% elif post.liked_by.count > 1 %}
        <!-- More than one like -->
        {{ post.liked_by.first }} & {{ post.liked_by.count|add:"-1" }} Other(s) like this
        {% endif %}
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">
        {{post.title}}
      </div>
      <p class="text-gray-700 text-base">{{post.caption}}</p>
    </div>

    <div class="px-5 py-5 comment-section" data-post-id="{{ post.id }}">
      {% for comment in post.comments.all %}
      <b>{{ comment.posted_by }}</b> :{{comment.body}}
      <br>
      {% endfor %}
    </div>


    <div class="comment-form-container hidden" data-post-id="{{ post.id }}">
      <form method="post" class="bg-white rounded" action="{% url 'add_comment' %}">
        {% csrf_token %}
        <div class="flex">
          <input name="body" class="border rounded mr-10 text-grey-700">
          <input type="hidden" name="post_id" value="{{ post.id }}">
          <button class="bg-green-500 text-white px-5 py-2 btn-comment-submit" type="submit">Add</button>
        </div>
      </form>
    </div>

  </a>
  <!--Card ends here-->
  {% endfor %}
</div>


<script type="text/javascript">
  console.log('working');
  window.CSRF_TOKEN = "{{ csrf_token }}";
  $(document).on('click', '.btn-like', function () {
    var post_id = this.id;
    $.ajax({
      method: "POST",
      url: '/posts/like',
      data: { post_id: post_id, csrfmiddlewaretoken: window.CSRF_TOKEN }

    });
    window.location.href = "http://127.0.0.1:8000/posts/feed"
  });
  $(document).on('click', '.btn-comment', function (event) {

    // Prevent the form submission when the comment button is clicked
    event.preventDefault();

    // Get the post ID associated with the clicked comment icon
    var post_id = $(this).data('post-id');

    // Toggle the visibility of the comment input field when the comment button is clicked
    $(`.comment-form-container[data-post-id="${post_id}"]`).toggleClass('hidden');
  });

  // New event handler for the "Add" button inside the comment form
  $(document).on('click', '.btn-comment-submit', function () {
    var post_id = $(this).data('post-id');
    var body = $(`.comment-form-container[data-post-id="${post_id}"] textarea[name="body"]`).val();

    // Send the comment data to the server via AJAX
    $.ajax({
      method: "POST",
      url: '/posts/add_comment',  // Replace with the URL for adding a comment
      data: {
        post_id: post_id,
        posted_by: "{{ logged_user }}",  // Replace with the correct value
        body: body,
        csrfmiddlewaretoken: window.CSRF_TOKEN
      }

    });

    // Clear the comment input field after submitting the comment
    $(`.comment-form-container[data-post-id="${post_id}"] textarea[name="body"]`).val('');
  });

</script>

{% endblock %}